<meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign In</title>

    <link rel="stylesheet" href="assets/css/login.css">
    
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    
    <script src="scripts/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="main_div">
        <h1>Sign In</h1>
        <form id="formulario" method="POST" action="scripts/php/login/auth.php">
            <input autofocus id="name" type="name" name="name" placeholder="Username">
            <input id="password" type="password" name="password" placeholder="Password">
            <button>Sign In</button>
        </form>
    </div>