<title>Users</title>
<link rel="stylesheet" href="assets/css/users.css">
</head>
<body>

    <div id="firstNav">
		<nav class="navbar navbar-expand-custom navbar-mainbg">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<div class="hori-selector">
						<div class="left"></div><div class="right"></div>
					</div>
					<li class="nav-item">
						<a class="nav-link" href="index.php"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="charts.php"><i class="far fa-chart-bar"></i>Charts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="users.php"><i class="fa fa-users"></i>Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="scripts/php/login/logout.php"><img title="Logout" style="filter: invert(100%);" src="assets/img/logout.png" height="25px" width="25px">LOGOUT</a>
					</li>
				</ul>
			</div>
		</nav>	
	</div>
	

	<div id="secondNav">
		<nav style="background-color: #5161ce;" class="navbar navbar-expand-lg navbar-dark mb-5">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
			  <div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.php"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="charts.php"><i class="far fa-chart-bar"></i>Charts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="users.php"><i class="fa fa-users"></i>Users</a>
					</li>
				</ul>
				
			  </div>
			  <a id="LogoutButton" href="scripts/php/login/logout.php">
				<img title="Logout" style="filter: invert(100%);" src="assets/img/logout.png" height="25px" width="25px">
			  </a>
			</div>
		  </nav>
	</div>
	<script src="scripts/js/users.js"></script>

	<div class="text-light col-md-10" align="center" style="margin: 2em auto;">
	    
	    <form onsubmit="return false">
			<div class="form-group row col-md-6">
	            <div class="col-sm-12">
	                <input type="text" class="form-control" id="name" placeholder="Name" required>
	            </div>
	        </div>
	        <div class="form-group row col-md-6">
	            <div class="col-sm-12">
	                <input type="text" class="form-control" id="username" placeholder="Username (Used to login)" required>
	            </div>
	        </div>
	        <div class="form-group row col-md-6">
	            <div class="col-sm-12">
	                <input type="email" class="form-control" id="email" placeholder="E-mail" required>
	            </div>
	        </div>
	        <div class="form-group row col-md-6">
	            <div class="col-sm-12">
	                <input type="password" class="form-control" id="password" placeholder="Password" required>
	            </div>
	        </div>
			<div class="form-group row col-md-6">
	            <div class="col-sm-12">
	                <select class="form-control col-md-12" name="select" id="permission">
						<option value="1">1</option>
						<option value="2">2</option>
					</select>
	            </div>
	        </div>
			<div class="form-group row col-md-6">
				<div class="col-sm-12">
	                <input type="submit" class="btn btn-primary col-md-12" onclick="createNewUser()" value="CREATE NEW USER">
	            </div>
	        </div>
	        
	    </form>
	</div>
	<div class="container" style="font-size:16px;text-align: left;">
      <div class="row">
        <div class="col">
          <table class="table" >
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
				<th>E-mail</th>
                <th>Details</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="listUsers">
            </tbody>
            
          </table>
        </div>
      </div>
    </div>